doctype html
html(lang="ru")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Comfort Lux
        link(rel="stylesheet", href="./css/style.min.css")
        include layout/favicon
    body
        .wrapper
            include layout/header
            main.main
                section.preview.container.m-t-75.m-b-100
                    .preview__title
                        h1.title Преобразите Свое пространство с помощью стильных <span>рулонных штор</span>
                    .preview__images
                        picture
                            source(srcset="./images/content/main-photo.jpg" type="image/jpeg" media="(min-width: 767px")
                            source(srcset="./images/content/main-photo-big.jpg" type="image/jpeg" media="(max-width: 767px")
                            img(src="./images/content/main-photo.jpg", alt="Main photo")
                section.why-me.container.m-b-140
                    .why-me__inner
                        .why-me__text
                            h2.title Почему стоит заказать у нас?
                            ul.why-me__list 
                                li.why-me__list-item Бесплатный замер и монтаж
                                li.why-me__list-item Высочайшее качество
                                li.why-me__list-item Богатый выбор тканей
                                li.why-me__list-item Гарантия 2 года
                        .why-me__images
                            .why-me__image
                                picture
                                    source(srcset="./images/content/2.jpg" type="image/jpeg" media="(min-width: 767px")
                                    source(srcset="./images/content/2-mobile.jpg" type="image/jpeg" media="(max-width: 767px")
                                    img(src="./images/content/2.jpg", alt="Table")        
                            .why-me__image
                                picture
                                    source(srcset="./images/content/3.jpg" type="image/jpeg" media="(min-width: 479px")
                                    source(srcset="./images/content/3-mobile.jpg" type="image/jpeg" media="(max-width: 479px")
                                    img(src="./images/content/3.jpg", alt="Vase")               
                section.about-us.m-b-110#a-us
                    .container 
                        .about-us__inner
                            h2.title О нас
                            p.about-us__text Компания “Комфорт Люкс” предлагает вам  широкий спектр в выборе жалюзи, рольштор, штор, плиссе и всего, что касается оформления окна и аксессуаров к ним - противомоскитных сеток, карнизов, фотопечати. Мы займемся дизайном интерьера любого вида помещений: квартир, офисов, школ, детских садов, кафе и ресторанов. Смоделируем уникальный, оригинальный и креативный дизайн помещения. Мы с радостью поможем воплотить все Ваши задумки в реальность!                  
                            .about-us__desc
                                dl 
                                    dt.title 2007 
                                    dd мы работаем с 2007 года
                                dl 
                                    dt.title 99% 
                                    dd довольных клиентов
                section.stages.container.m-b-110#stages-of-work
                    h2.title Этапы работы
                    .stages__content.m-t-75 
                        .stages__images
                            .stages__image
                                picture
                                    source(srcset="./images/content/4.jpg" type="image/jpeg" media="(min-width: 550px")
                                    source(srcset="./images/content/4-mobile.jpg" type="image/jpeg" media="(max-width: 550px")
                                    img(src="./images/content/4.jpg", alt="Bath")                      
                            .stages__image
                                picture
                                    source(srcset="./images/content/5.jpg" type="image/jpeg" media="(min-width: 550px")
                                    source(srcset="./images/content/5-mobile.jpg" type="image/jpeg" media="(max-width: 550px")
                                    img(src="./images/content/5.jpg", alt="Workplace")                                        
                        ul.stages__list.m-t-20 
                            li.stages__list-item Вы оставляете заявку на сайте, либо звоните нам
                            li.stages__list-item Наш замерщик выезжает к Вам с каталогом
                            li.stages__list-item Мы уточняем детали заказа
                            li.stages__list-item Заключаем договор
                            li.stages__list-item Производим Ваш заказ
                            li.stages__list-item Доставляем и устанавливаем Ваш заказ
                            li.stages__list-item Делимся положительными эмоциями
                section.catalog#products 
                    .container
                        .catalog__inner
                            .catalog__item
                                .catalog__info
                                    h2.title Рольшторы
                                    p Представлены большим разнообразием тканей с различной светопропускаемостью. Ткани с пылеустойчивой пропиткой, а также со светоустойчивыми красками, поэтому их не нужно стирать и чистить.
                                    p Виды: день-ночь, блэкаут, электрические<br> Системы установки: Mini, Uni, Mgs 
                                    a.order-btn(href="#request-call")
                                        p Заказать
                                        .order-btn__icon
                                            <svg width="21" height="8" viewBox="0 0 38 8" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M37.3536 4.35355C37.5488 4.15829 37.5488 3.84171 37.3536 3.64645L34.1716 0.464466C33.9763 0.269204 33.6597 0.269204 33.4645 0.464466C33.2692 0.659728 33.2692 0.976311 33.4645 1.17157L36.2929 4L33.4645 6.82843C33.2692 7.02369 33.2692 7.34027 33.4645 7.53553C33.6597 7.7308 33.9763 7.7308 34.1716 7.53553L37.3536 4.35355ZM0 4.5H37V3.5H0V4.5Z" fill="black"/>
                                            </svg>
                                .catalog__image
                                    img(src="./images/content/catalog/1.jpg", alt="Product") 
                            .catalog__item
                                .catalog__info
                                    h2.title горизонтальные жалюзи
                                    p Устанавливаются на раму стеклопакета окна. Устанавливаются на раму стеклопакета окна. Сочетаются с внутренним декором (шторами, римскими шторами). Жалюзи могут быть выполнены из: пластика, алюминия, дерева, бамбука.
                                    a.order-btn(href="#request-call")
                                        p Заказать
                                        .order-btn__icon
                                            <svg width="21" height="8" viewBox="0 0 38 8" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M37.3536 4.35355C37.5488 4.15829 37.5488 3.84171 37.3536 3.64645L34.1716 0.464466C33.9763 0.269204 33.6597 0.269204 33.4645 0.464466C33.2692 0.659728 33.2692 0.976311 33.4645 1.17157L36.2929 4L33.4645 6.82843C33.2692 7.02369 33.2692 7.34027 33.4645 7.53553C33.6597 7.7308 33.9763 7.7308 34.1716 7.53553L37.3536 4.35355ZM0 4.5H37V3.5H0V4.5Z" fill="black"/>
                                            </svg>
                                .catalog__image
                                    img(src="./images/content/catalog/2.jpg", alt="Product") 
                            .catalog__item
                                .catalog__info
                                    h2.title вертикальные жалюзи
                                    p Представлены из различных материалов и разнообразных цветов. Выбор материала напрямую зависит от целевого предназначения помещения. Наиболее распространенные: Ткань , Пластик, Алюминий, Плетеное дерево
                                    a.order-btn(href="#request-call")
                                        p Заказать
                                        .order-btn__icon
                                            <svg width="21" height="8" viewBox="0 0 38 8" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M37.3536 4.35355C37.5488 4.15829 37.5488 3.84171 37.3536 3.64645L34.1716 0.464466C33.9763 0.269204 33.6597 0.269204 33.4645 0.464466C33.2692 0.659728 33.2692 0.976311 33.4645 1.17157L36.2929 4L33.4645 6.82843C33.2692 7.02369 33.2692 7.34027 33.4645 7.53553C33.6597 7.7308 33.9763 7.7308 34.1716 7.53553L37.3536 4.35355ZM0 4.5H37V3.5H0V4.5Z" fill="black"/>
                                            </svg>
                                .catalog__image
                                    img(src="./images/content/catalog/3.jpg", alt="Product") 
                            .catalog__item
                                .catalog__info
                                    h2.title москитные сетки
                                    p Преимущества москитных сеток включают защиту от насекомых, уменьшение шума, фильтрацию воздуха и защиту от пыли и грязи, что особенно важно для тех, кто страдает аллергиями или астмой.
                                    a.order-btn(href="#request-call")
                                        p Заказать
                                        .order-btn__icon
                                            <svg width="21" height="8" viewBox="0 0 38 8" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M37.3536 4.35355C37.5488 4.15829 37.5488 3.84171 37.3536 3.64645L34.1716 0.464466C33.9763 0.269204 33.6597 0.269204 33.4645 0.464466C33.2692 0.659728 33.2692 0.976311 33.4645 1.17157L36.2929 4L33.4645 6.82843C33.2692 7.02369 33.2692 7.34027 33.4645 7.53553C33.6597 7.7308 33.9763 7.7308 34.1716 7.53553L37.3536 4.35355ZM0 4.5H37V3.5H0V4.5Z" fill="black"/>
                                            </svg>
                                .catalog__image
                                    img(src="./images/content/catalog/4.jpg", alt="Product") 
                            .catalog__item
                                .catalog__info
                                    h2.title римские шторы
                                    p Превосходное решение для дизайна вашего интерьера, они комбинируют обычные шторы и жалюзи. Римские шторы могут быть изготовлены из материала различной плотности и цветовой гаммы. Вертикальная система римских штор упрощают их использование и придает помещению современный и уютный внешний вид. Механизм управления схож с механизмом для рольштор.
                                    a.order-btn(href="#request-call")
                                        p Заказать
                                        .order-btn__icon
                                            <svg width="21" height="8" viewBox="0 0 38 8" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M37.3536 4.35355C37.5488 4.15829 37.5488 3.84171 37.3536 3.64645L34.1716 0.464466C33.9763 0.269204 33.6597 0.269204 33.4645 0.464466C33.2692 0.659728 33.2692 0.976311 33.4645 1.17157L36.2929 4L33.4645 6.82843C33.2692 7.02369 33.2692 7.34027 33.4645 7.53553C33.6597 7.7308 33.9763 7.7308 34.1716 7.53553L37.3536 4.35355ZM0 4.5H37V3.5H0V4.5Z" fill="black"/>
                                            </svg>
                                .catalog__image
                                    img(src="./images/content/catalog/5.jpg", alt="Product") 
                            .catalog__item
                                .catalog__info
                                    h2.title японские панели
                                    p Представляют собой тонкие вертикальные панели из ткани или других материалов, которые могут двигаться вдоль специальных направляющих, позволяя регулировать уровень освещения и конфиденциальности в комнате. Японские панели обеспечивают эффективную защиту от солнечных лучей и шума, а также могут использоваться для разделения помещений, создавая отдельные зоны в больших комнатах.
                                    a.order-btn(href="#request-call")
                                        p Заказать
                                        .order-btn__icon
                                            <svg width="21" height="8" viewBox="0 0 38 8" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M37.3536 4.35355C37.5488 4.15829 37.5488 3.84171 37.3536 3.64645L34.1716 0.464466C33.9763 0.269204 33.6597 0.269204 33.4645 0.464466C33.2692 0.659728 33.2692 0.976311 33.4645 1.17157L36.2929 4L33.4645 6.82843C33.2692 7.02369 33.2692 7.34027 33.4645 7.53553C33.6597 7.7308 33.9763 7.7308 34.1716 7.53553L37.3536 4.35355ZM0 4.5H37V3.5H0V4.5Z" fill="black"/>
                                            </svg>
                                .catalog__image
                                    img(src="./images/content/catalog/6.jpg", alt="Product")
                            .catalog__item
                                .catalog__info
                                    h2.title плиссе
                                    p Состоят из складывающейся ткани, которая формирует гармоничные складки, когда окно закрыто. Одним из преимуществ плиссе является возможность регулировать уровень освещения и конфиденциальности в комнате. Они могут быть выполнены в различных цветах, тканях и текстурах.
                                    a.order-btn(href="#request-call")
                                        p Заказать
                                        .order-btn__icon
                                            <svg width="21" height="8" viewBox="0 0 38 8" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M37.3536 4.35355C37.5488 4.15829 37.5488 3.84171 37.3536 3.64645L34.1716 0.464466C33.9763 0.269204 33.6597 0.269204 33.4645 0.464466C33.2692 0.659728 33.2692 0.976311 33.4645 1.17157L36.2929 4L33.4645 6.82843C33.2692 7.02369 33.2692 7.34027 33.4645 7.53553C33.6597 7.7308 33.9763 7.7308 34.1716 7.53553L37.3536 4.35355ZM0 4.5H37V3.5H0V4.5Z" fill="black"/>
                                            </svg>
                                .catalog__image
                                    img(src="./images/content/catalog/7.jpg", alt="Product")
                            .catalog__item
                                .catalog__info
                                    h2.title бамбук
                                    p Это интересный вариант для оконного декора в эко-стиле, создающий уют в помещении. Такие рулонные шторы созданы из бамбуковых волокон, которые переплетаются нитями из натуральных материалов. Расцветка бамбуковых штор может быть от бежево-золотистого до коричневого цвета, она зависит от типа сырья для бамбуковых прутьев и от оттенка и количества вплетенных в полотно нитей.
                                    a.order-btn(href="#request-call")
                                        p Заказать
                                        .order-btn__icon
                                            <svg width="21" height="8" viewBox="0 0 38 8" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M37.3536 4.35355C37.5488 4.15829 37.5488 3.84171 37.3536 3.64645L34.1716 0.464466C33.9763 0.269204 33.6597 0.269204 33.4645 0.464466C33.2692 0.659728 33.2692 0.976311 33.4645 1.17157L36.2929 4L33.4645 6.82843C33.2692 7.02369 33.2692 7.34027 33.4645 7.53553C33.6597 7.7308 33.9763 7.7308 34.1716 7.53553L37.3536 4.35355ZM0 4.5H37V3.5H0V4.5Z" fill="black"/>
                                            </svg>
                                .catalog__image
                                    img(src="./images/content/catalog/8.jpg", alt="Product")
                section.blockquote.m-b-140 
                    .container
                        h2.title Украсьте <span>свое</span> пространство непринужденным <span>стилем</span> и непревзойденной <span>функциональностью</span>               
                .gallery.container.m-b-145    
                    .gallery__inner 
                        a.title(href="https://www.instagram.com/comfortllux/") @comfortllux 
                        .gallery__images
                            img(src="./images/content/instagram/1.jpg", alt="Instargram")
                        .gallery__images
                            img(src="./images/content/instagram/2.jpg", alt="Instargram")
                        .gallery__images.gallery__images--wide
                            img(src="./images/content/instagram/4.jpg", alt="Instargram")
                        p.gallery__subtitle Подпишитесь на наш инстаграм и получите скидку 10%                                
                        .gallery__images.gallery__images--long
                            img(src="./images/content/instagram/3.jpg", alt="Instargram")
                section.request.container.m-b-145#request-call 
                    .request__inner
                        h2.title#anim Оставить заявку
                        p.request__subtitle Заполните форму, мы свяжемся с Вами в течение часа и ответим на все Ваши вопросы.
                        form.request__form(onsubmit="return validate()")
                            p
                                label(for="name") Ваше имя:
                                input(type="text" name="name" id="name" placeholder="Имя" required onkeypress="noDigits(event)")
                            p    
                                label(for="phone") Номер телефона: 
                                input(type="tel" id="phone" name="phone" placeholder="+375 (00) 000-00-00" data-mask="+375 (__) ___-__-__" required data-validate-field="tel" oninvalid="setCustomValidity('Пожалуйста, заполните все поля')")
                            button#popup_open(type="submit") Отправить
                        #error-message
                        .request__popup#popup
                            .request__popup-container
                                .request__popup-bg
                                .request__popup-body
                                    h2.title СПАСИБО!
                                    p.request__popup-subtitle Ваша заявка отправлена.
                                    button.request__popup-btn#popup_close Ок
                        #overlay 
                            .loader
                                img(src="./images/icons/preload-animation/preload-animation.gif", draggable="false", alt="Loading...")

            include layout/footer
        script(src="./js/main.min.js", type="")
        script(src="./js/form.js" type="")