header.header#top
    .container
        .header__inner
            a.logo(href="#") 
                img(src="./images/logo.svg", alt="Logo", draggable="false")
            button.menu-btn(type="button")
                span     
                span     
                span     
            nav.menu
                ul.menu__list 
                    li.menu__list-item 
                        a(href="#a-us") О нас
                    li.menu__list-item 
                        a(href="#stages-of-work") Этапы работы
                    li.menu__list-item 
                        a(href="#products") Продукция
                    li.menu__list-item 
                        a(href="#contacts") Контакты
                .header__tel 
                    a(href="tel:+375293312899") +375 (29) 331-28-99 (А1)
                    a(href="tel:+375297712899") +375 (29) 771-28-99 (МТС)
                a.request-call(href="#request-call")  Заказать звонок    



